<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Test ~ E-receipts</title>
</head>

<body id="page-top" class="index">

    <header>
        <div class="h-login-container">
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="img-responsive" src="img/ereceipt.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <section style="padding:40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Test</h2>
                    <hr class="star-primary">
                </div>
                <div class="row">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <canvas class="test-canvas" id="1" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <canvas class="test-canvas" id="2" width="400" height="400"></canvas>
                    <div id="legendDiv" class="chart-legend"></div>
                </div>
            </div>
        </div>
    </section>

</body>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/freelancer.js"></script>
    <script src="chart/Chart.js"></script>

    <script type="text/javascript">
 
        var barData = {
            labels: ['Italy', 'UK', 'USA'],
            datasets: [
                {
                    label: '2010 customers #',
                    fillColor: '#382765',
                    data: [2500, 1902, 1041]
                }
            ]
        };

        var context = document.getElementById('1').getContext('2d');
        var clientsChart = new Chart(context).Bar(barData);

    </script>

    <script type="text/javascript">

        var pieData = [
           {
            value: 61,
            color: "#09355C",
            label: "Label 1"
        }, {
            value: 11,
            color: "#CBCBCB",
            label: "Label 2"
        }, {
            value: 28,
            color: "#B61B12",
            label: "Label 3"
        }];

        var options = {
            segmentShowStroke: false,
            animateRotate: true,
            animateScale: true,
            percentageInnerCutout: 50,
            tooltipTemplate: "<%= value %>%"
        }

        var ctx = document.getElementById("2").getContext("2d");
        var myDoughnutChart = new Chart(ctx).Doughnut(pieData, options);
        document.getElementById("legendDiv").innerHTML = myDoughnutChart.generateLegend();


    </script>

</html>

  <!--               <div class="col-xs-6 col-special">
                    <table class="table table-hover text-center">
                        <caption><a href="#">Les plus achetés<i class="fa fa-arrow-down"></i></a></caption>
                        <tr class="active">
                            <th> Position </th>
                            <th> Nom </th>
                            <th> Prix </th>
                        </tr>
                        <tr> 
                            <td> 1 </td>
                            <td> Jambon de bayonne </td>
                            <td> 9€ </td>
                        </tr>
                        <tr> 
                            <td> 2 </td>
                            <td> Tartiflette </td>
                            <td> 6€ </td>
                        </tr>
                        <tr> 
                            <td> 3 </td>
                            <td> Fondu </td>
                            <td> 7€ </td>
                        </tr>
                        <tr> 
                            <td> 4 </td>
                            <td> Camember </td>
                            <td> 3€ </td>
                        </tr>
                        <tr> 
                            <td> 5 </td>
                            <td> Crêpe </td>
                            <td> 1€ </td>
                        </tr>
                    </table>
                </div> -->

<!--                 <div class="row padding-section">
                <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
                    <table class="table table-hover table-bordered accueil">
                        <thead>
                            <tr class="tab-head-color">
                                <th> Position </th>
                                <th> Lieu </th>
                                <th> Nom </th>
                                <th> Prix </th>
                            </tr>
                        </thead>
                        <tr> 
                            <td> 1 </td>
                            <td> 02.03.2016 </td>
                            <td> Jambon de bayonne </td>
                            <td> 9€ </td>
                        </tr>
                        <tr> 
                            <td> 2 </td>
                            <td> 02.03.2016 </td>
                            <td> Tartiflette </td>
                            <td> 6€ </td>
                        </tr>
                        <tr> 
                            <td> 3 </td>
                            <td> 02.03.2016 </td>
                            <td> Fondu </td>
                            <td> 7€ </td>
                        </tr>
                        <tr> 
                            <td> 4 </td>
                            <td> 02.03.2016 </td>
                            <td> Camember </td>
                            <td> 3€ </td>
                        </tr>
                        <tr> 
                            <td> 5 </td>
                            <td> 02.03.2016 </td>
                            <td> Crêpe </td>
                            <td> 1€ </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4> Paramètres généraux </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
                    <canvas id="1" width="750" height="400"></canvas>
                </div>
            </div> -->